<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * This file is part of SSE_TranslationHints for Magento.
 *
 * @license http://opensource.org/licenses/OSL-3.0 Open Software License (OSL 3.0)
 * @author Fabian Schmengler <fabian@schmengler-se.de> <@fschmengler>
 * @category SSE
 * @package SSE_TranslationHints
 * @copyright Copyright (c) 2015 Schmengler Software Engineering (http://www.schmengler-se.de/)
 */
-->
<config>
    <modules>
        <SSE_TranslationHints>
            <version>0.1.0</version>
        </SSE_TranslationHints>
    </modules>
    <global>
        <helpers>
            <sse_translationhints>
                <class>SSE_TranslationHints_Helper</class>
            </sse_translationhints>
        </helpers>
        <models>
            <sse_translationhints>
                <class>SSE_TranslationHints_Model</class>
            </sse_translationhints>
            <core>
                <rewrite>
                    <translate>SSE_TranslationHints_Model_Translate</translate>
                </rewrite>
            </core>
        </models>
    </global>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_dev>
                <observers>
                    <modulename>
                        <type>singleton</type>
                        <class>sse_translationhints/observer</class>
                        <method>validateConfig</method>
                    </modulename>
                </observers>
            </admin_system_config_changed_section_dev>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <sse_translationhints module="SSE_TranslationHints">
                    <file>sse_translationhints.xml</file>
                </sse_translationhints>
            </updates>
        </layout>
    </frontend>
</config>